# Dependencies
node_modules/

# Build artifacts
/dist/
/build/
/.parcel-cache/
/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor and system files
.vscode/
.DS_Store
.github/
Thumbs.db
AGENTS.md
eslint.config.js
prettierrc.json
eslint.config.js
package-lock.json
package.json
claude.md


# Env and secrets
.env*

# helpdesk files
.helpdesk/


